@use 'base/variables' as v;
html{ 
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
h1, h2, h3{
    font-family: v.$fuente_titulos;
    line-height: 1.2;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
    margin: 1rem 0;
}
h3{
    font-size: 2.4rem;
}
img{
    max-width: 100%;
    display:block;
}
a{
    text-decoration: none;
    color: v.$blanco;
}
li{
    list-style: none;
}
body{
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    line-height: 1.5rem;
}
//Utilidades
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
.no-margin{
    margin: 0;
}
.centrar-texto{
    text-align: center;
}
.section{
    margin-top: 5rem;
}
.texto-bold{
    font-weight: bold; /*700*/
}
.texto-normal{
    font-weight: normal;/*400*/
}
.border-top{
    border-top: 1rem solid v.$negro;
}
.border-cards{
    border: 1px solid v.$negro;
    border-radius: 1rem;
}
.verde{
    color: v.$verde;
}
.negro{
    color: v.$negro;
}
.azul{
    color: v.$azul;
}
.btn{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    transition: all .5s ease-in-out;
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: v.$blanco;
    &:hover{
        transform: scale(1.1);
    }
}