//Tipografia
$fuente_principal: 'Roboto', sans-serif;
$fuente_titulos: 'Opne Sans', sans-serif;
//Dimension de media querys
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
//Colores
$negro: #000;
$blanco: #fff;
$rojo: #ff0000;
$verde: #088c00 ;
$naranja: #e96901;
