@use 'base/minxins' as m;
@use 'base/variables' as v;
body{
    font-family: v.$fuente_principal;
}
.header{
    //background-color: rgba(0,0,0,0.6);
    background-color: #255a68;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner{
    height: 40rem;
    background-image: url(../img/metting.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    @include m.desktop {
        height: 50rem;
    }
    @include m.desktopXL {
        height: 80vh;
    }
    h2{
        color: white;
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        padding: 2rem;
    }
}
.card{
    @include m.gridAutoFit(2rem);
    padding: 2rem;
    @include m.tablet {
        .marca{
            grid-column: 1 / 4;
        }
    }
    .horarios,
    .ubicacion, 
    .telefono,
    .online,
    .orden{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            margin: 0;
            margin: 1rem;
        }
        p, li{
            margin: 0;
            margin-bottom: 1rem;
            text-align: justify;
        }
        i{
            font-size: 1.8rem;
            margin-right: .5rem;
        }
    }
    .number, 
    .online{
        margin: 0;
        padding: 0;
        li{
            font-size: 1.8rem;
        }
    }
}
.logo_marca{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        margin-bottom: 2rem;
        width: 50%;
    }
    @include m.desktop {
        img{
            width: 40%;
        }
    }
    @include m.desktopXL {
        img{
            width: 30%;
        }
    }
}
.orden{
    .btn-primario{
        margin: 2rem 0;
        background-color: #006E90;
        &:hover{
            cursor: pointer;
        }
    }
}
.footer{
    height: 10rem;
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
    display: flex;
    align-items: center;
    justify-content: center;
}